$blue: #4E75E2;
:host {
  background-color:$blue;
  border:0;
  padding:6px 8px;  
  margin:0;
  color:#fff;
  outline:0;
  font-size:16px;
  cursor:pointer;
  
  &:hover {
    background-color: darken($blue, 10%);
  }
}
