<ActionBar title="Virtual Insanity" icon="">
  <ActionItem (tap)="leftAction()">
    <Button class="" text="Left"></Button>
  </ActionItem>
  <ActionItem (tap)="rightAction()" ios.position="right">
    <Button class="" [text]="actionTxt"></Button>
  </ActionItem>
</ActionBar>
<StackLayout>
  <Image [src]="imgSrc"></Image>
  <Label [text]="title" textWrap="true"></Label>
  <Button [text]="toggleText" (tap)="changeText()"></Button>
  <Label [text]="userHeading" textWrap="true" class="heading"></Label>
  
  <ListView [items]="users">
      <template let-item="item" let-odd="odd" let-even="even">
          <StackLayout [ngClass]="{odd: odd, even: even}"
            (tap)="selectUser(item)">
            <Label [text]="item.name?.first + ' ' + item.name?.last" textWrap="true"></Label>
          </StackLayout>
      </template>
  </ListView>
</StackLayout>
